body {
    /*移动设备背景图片*/
    background-image: url("//i1.piimg.com/591098/b29f15fe1ba95c17.jpg");
}
.content {
    /*移动设备中心区域背景颜色*/
    background-color: #ddd;
    /*移动设备中心区域不透明度*/
    opacity: 0.8;
}

@media screen and (min-width: 999px) {
    body {
        /*电脑设备背景图片*/
        background-image: url("//i1.piimg.com/591098/ea4bf2d900c56ed7t.jpg");
    }
    .content {
        /*电脑设备中心区域背景颜色*/
        background-color: #ddd;
        /*电脑设备中心区域不透明度*/
        opacity: 0.8;
    }
}